    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="address col-md-10 col-sm-6 col-xs-12">
            704 Somerset St. W, Ottawa, ON<br/>
            <a href="tel:1+613-680-7463">+613.680.7463</a><br/>
            <a href="mailto:hello@jackpine.co">hello@jackpine.co</a><br/>
            <a href="https://twitter.com/jackpineco" target="_blank">Follow @JackpineCo</a><br/>
            <a href="https://www.facebook.com/pages/Jackpine/503191079715228" target="_blank">Jackpine on Facebook</a>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
            <img src="{{ "/img/jackpine-logo-white.png" | prepend: site.baseurl }}" alt="">
          </div>
        </div>
      </div>
    </footer>

