<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!-- 
                                                                                                   
                                                    ^                                              
                                                  _ O ~                                            
                                                  # @ =                                            
                                                ; @ @ +                                            
                                              i i @ @ : ; +                                        
                                            : @ & @ @ & & !                                        
                                            _ @ @ @ @ @ O .                                        
                                              $ @ @ @ @ ;   `                                      
                                          o   : @ @ @ O ` o # .                                    
                                        _ & % ^ # @ @ * e @ @ _                                    
                                        $ @ @   ~ O @ ? @ @ &                                      
                                      . & @ @ * ` # i ! @ O _       i `                            
                                      ^ & @ @ @ % @ ! e # ~ ; - _ . @ =                            
                                      ^ - e % @ @ @ @ - ` : & O & * @ o                            
                                    ; %   ~ ` * * * @ # % & @ @ @ & @ # .                          
                                    * @ = # =   ^ % @ @ @ & $ @ @ @ @ & ~                          
                                    $ @ @ @ *   ? @ @ # # & & # = . . ^                            
                              _ e   ; @ @ @ # ^ : @ @ @ @ & & -           ^ # `                    
                              e &     + # @ @ O ; @ @ @ @ @ & O .       ! e @ `                    
                              * @ e       : @ @ @ @ @ @ @ @ @ @ e     . @ @ @ `                    
                          . - . & $         ; @ @ @ @ @ @ @ @ @ i     ^ @ @ # ` ^ : ^              
                          e $   e @ -     ~ & @ @ @ @ @ @ @ @ O ^     _ @ @ ?   : & ~              
                          ! #   - @ .       e @ @ @ @ @ @ & i ^     ? # @ @ *   ! & `              
                      . = ! & - _ @ _ `       ^ ^ - & + ` `       . @ @ @ i   - & e                
                      ! & = & O + @ O $ ;   ^ $ ! + *             * @ @ o   ` # & ~                
                      - & ! ! @ @ @ @ @ i   ; @ @ @ *   .       ; @ @ %   ` $ @ ? `                
                        i @ @ @ @ @ @ @ _     ! @ @ O O @ ;     ; @ # # ; % @ @ @ O ^              
                          + $ @ @ @ @ @ ! `     . : @ # i     ^ $ @ @ @ & @ @ $ = ^                
                              % @ @ @ @ @ @ $ ~ ~ o ! .   . o @ @ @ @ @ O -                        
                              ` ; # @ $ @ @ @ @ @ @ @ & $ # @ @ @ & * + `                          
                                  ^ +   ! @ @ @ @ @ @ @ @ @ @ @ $ `                                
                                        ~ @ @ @ @ @ @ @ @ @ @ % `     : ;       ` `                
                                    - & & @ @ @ @ @ e = % & @ & & & & @ o ^ ` ~ $ $                
                                `   + @ @ @ @ @ @ @ *     _ & @ @ @ @ @ = # = o @ =                
                                e # & @ @ @ @ @ @ @ O ~     - @ @ @ @ @ ? @ & @ # `                
                                = @ @ @ @ ? ; @ @ @ @ $ $ ? = ; $ @ @ @ @ @ @ O :                  
                                . & @ @ %     @ @ @ @ @ @ @ ;     . = % & # i `                    
                                    ~ .       ; ? @ @ # $ # `                                      
                        - ?     . _               @ ; .   ;                   `                    
                        ! ? ^ * $ # - * * ? ? e + @ ! o ^                     ? !                  
                      - # & ? @ @ @ & @ @ ! e ? @ @ O ? # i         = % = _ + & +                  
                      e @ @ @ @ @ & e `         ^ @ ~   o & O . = ? @ @ @ O @ # `                  
                      = @ @ @ @ $ ~             : @ ~     - # @ @ @ @ @ @ @ @ i                    
                        ~ = = ; `       ` _ i i * @ ~       - O @ @ # # & @ $ `                    
                                    ^ % % * _ + & @ ~   ; :     - _ ` ` . _                        
                    - :   : # O O O ! -         + @ _ o @ e _ =                                    
                    o @ @ # @ @ @ O `       . - o @ ! @ @ @ @ # ^                                  
                % * _ @ @ @ @ @ % .       ` O @ @ @ @ @ @ @ @ O `                                  
              _ @ @ i ! @ & $ i           . ! @ @ @ @ @ $ o e .       - `     ^ `     . * `        
                * @ @ @ @ ?         ~ i * _   - o @ % +             : & _   ^ O =   ^ $ # `        
                  : + + ;       : % $ $ $ # & o o @ ~ ^ ; o o o o o & @ @ ? @ # . . ? @ ;          
                              o O =       ^ * # @ @ i # @ e i _     _ O @ @ @ ! + & @ & `          
                          ` i ! =             ^ ? @ @ # ~     - i % = ^ + & @ @ @ @ O _            
                          ; & i .               = @ O -         : @ @ % ` - * % ? e ^              
                  - # e ~ & * o `               i @ -             ; @ @ i   - ^         `          
                  = @ @ @ & ; ^         ^ - _ - o @ :               ; @ @ % @ _   : * $ =          
                ^ @ @ @ @ ?           ~ # @ = + O @ -                 ? @ @ @ ^ = @ @ & .          
                ? @ @ @ @ -     ; & ! # $ .     e @ o + ^             ` & @ @ @ @ @ @ * . o^       
                $ @ @ @ *       ` ! @ # ^       e @ ~   `   ; e ~       . e @ @ @ @ @ O & &`       
                e ?           * @ @ @ _         ! @ @ @ @ # @ & ~             + ? _ = O & +        
                              ` = e +     = % ! O @ @ @ @ @ O ~                         .          
                                          * @ @ @ @ @ O # & +                   ` ^       `        
                                          . - * & @ =   . o o ? ? _ ^       = ! # #   ` ! $        
                                                $ @ e # i = ~ ` ` : $ # $ % @ @ @ % * # @ i        
                                                $ @ @ !             ~ o @ @ @ @ @ @ @ @ O `        
                                                $ @ $ ^               ` + & @ @ @ & & ?            
                  ~           - = ? # ! e _ . ^ # # -                     ~ % @ # O ? _ o #~       
                : & +     ^ e @ ! . ^ ^ ; $ & * # # ^                         . ; @ @ @ @ e        
                . @ & e e $ & i             : # @ & .                             - + e o          
                ^ @ @ @ & i @ -               _ @ @ ~                                              
            ; @ O @ @ O - ! O                 - @ @ ~                                              
            i @ @ @ @ $ ; # *                 ~ @ @ i ^                                            
              ! & @ @ @ @ @ i                 ~ @ @ + ? `                                          
        ^ i _ * # @ ! @ @ @ ;         ^ _ _ ~ ~ @ @ ~ ` + .                                        
        ; @ @ @ @ # @ @ @ %         - ? # & O # @ @ ~                                              
          ? & e _   $ @ @ +       o + ^   ` : # @ @ ~                                              
            ^       ` + i         _           - @ @ ~                                              
                                              ~ @ @ ~                                              
                                              ~ @ @ ~                                              
                                              ~ @ @ ~                                              
                                              ~ @ @ ~                                              
                                              ~ @ @ ~                                              
                                              ~ @ @ ~                                              
                                              ~ @ @ ~                                              
                                              : @ @ ~                                              
                                              _ @ @ ~                                              
                                              ~ @ @ ~                                              
                                              i @ @ :                                              
                                              ; @ @ *                                              
                                              + @ @ *                                              
                                              * @ @ *                                              
                                              * @ @ *                                              
                                              : @ @ *                                              
                                              : @ @ *                                              
                                              : @ @ *                                              
                                              ~ @ @ e                                              
                                              : & @ e :                                            
                                              = i : `                                              
-->

  {% include head.html %}


  <body >
    {% include header.html %}

      {{ content }}

      <!-- <div id="push"></div> -->
    <div class="container view-container">
      <div class="row view-work">
        <div class="col-sx-3 col-sm-3 col-md-3">
         <a href="{{ "/work" | prepend: site.baseurl}}" >View our projects</a>
        </div>
        <div class="col-sx-3 col-sm-3 col-md-3">
         <a href="{{ "/team" | prepend: site.baseurl}}" >Meet our team</a>
        </div>
        <div class="col-sx-3 col-sm-3 col-md-3">
         <a href="{{ "/services" | prepend: site.baseurl}}" >View our services</a>
        </div>
        <div class="col-sx-3 col-sm-3 col-md-3">
         <a href="{{ "/contact" | prepend: site.baseurl}}" >Work with u$</a>
        </div>
      </div>
    </div>

    {% include footer.html %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="{{ "/js/vendor/bootstrap.min.js" | prepend: site.baseurl }} "></script>
    <script src="{{ "/js/say-cheese.js" | prepend: site.baseurl }} "></script>
    <script src="{{ "/js/main.js" | prepend: site.baseurl }} "></script>

    </body>
</html>




